<div class='small-12 small-centered columns' style='padding: 15px 0; width:300px;'>
  <div class='center' style='text-align:center;'>
    <div class='logo'>
      <a href='#'><img src="images/logo-helyum.png" alt="EventMy Logo"></a>
    </div>
    <div class='small-12 columns' style='background-color: #fff; padding-top: 15px;'>
      <h2>Insert tagline here.</h2>
      <hr>
      <% if flash[:notice].present? %>
        <b><%= flash[:notice] %></b><br><br>
      <% else %>
        <b>Sign Up Now</b>
      <% end %>
      <%= render 'form' %>
      Request a demo:<a href="#" target="_top">email@info.com</a><br><br>
    </div>
  </div>
</div>
