<div class='small-4 small-centered columns' style='padding-top: 15px;'>
  <div class='center' style='text-align:center;'>
    <a href='/'><img src="images/helyum-logo.png" alt="Helyum" width="180" height="180"></a>
    <h3 style='font-size:14px;'>The simplest way to buy and sell online.</h3>

    <div class='small-12 columns' style='background-color: #fff; padding-top: 15px;'>
      <% if flash[:notice].present? %>
        <b><%= flash[:notice] %></b><br><br>
      <% end %>
      <%= render 'form' %>
    </div>
  </div>
  <div class='row' style='margin-bottom:80px;color:#111;font-size:14px;'>
    <br><br>© 2014 by Helyum.co
  </div>
</div>
