<div class='row'>

  <div class='small-3 columns'>
    <figure>
      <a href='/'><img src="images/logo.png" alt="Helyum" height="100" width='110'></a>
      <figcaption style='font-size:12px;padding-top:0px;'>Buy for Less, Sell for More</figcaption>
    </figure>
  </div>
  
  <div class='small-9 columns'>
    <h4>Helyum is an innovative new marketplace
    simplifying the way we buy and sell online.</h4>
    <br>We're launching soon, but in the meantime: 
  </div>
  
</div>

<div class='row'>

  <%= render 'form' %>

</div>

<%= link_to 'Back', users_path %>
